<!-- KNS - inserted new div for spacing after having issues with CSS -->

<div id="upper-spacer">
	
</div>

<!-- Strutting dog... -->
<div class="running">
	
	<img id="little-dog" src="images/dog-motion.gif">
</div>

<div class="body-wrap">
	

	

	<p><%= @reply %></p>


	<div id="email">

		<br>
		<h1>Contact Leash & Collar</h1>
		<form method="POST" action="/contact">  

			<label for="name">Name</label>   

			<br>
			<input type="text" name="name" class="input-box"> 

			<br>

			<label for="email">email</label> 
			<br>  
			<input type="text" name="email" class="input-box"> 
			<br>
			<label for="comment">Comment</label> 
			<br>  
			<textarea name="message" id="message"></textarea>  

			<br>
			<input id="button" type="submit"> 
		</form>
	</div>

</div>