


<div id="upper-spacer">
	
</div>

<!-- Strutting dog... -->
<div class="running">
	
	<img id="little-dog" src="images/dog-motion.gif">
</div>

<div class="body-wrap">
	



	<!-- email form -->
	<div id="email">
		<h1>Contact Us Today!</h1>
		<h3>We'd love to hear from you!</h3>
		<br>
		<form action="/contact" method="POST">
			<label for="email">Email</label>
			<br>
			<input type="text" name="email" class="input-box">
			<br>
			<br>
			<label for="message">Message</label>
			<br>
			<textarea type="text" name="message" id="message"></textarea>
			<br>
			<br>
			<input id="button" type="submit">
		</form>
	</div>



</div>
