<!-- KNS - inserted new div for spacing after having issues with CSS -->

<div id="upper-spacer"></div>
<div class="body-wrap">
	<form method="POST" action="/contact">   
		<input type="text" name="name"><select>
		    <option>Customer Service</option>
		    <option>General Information</option>
		    <option>Join Our team!</option>
		<label for="name">Name:</label>   
		<input type="text" name="name">   
		<label for="comment">Comment:</label>   
		<input type="comment" name="comment">   
		<input type="submit"> 
	</form>
</div>







