<div id="slideshow">
	<div>
		<img class="slider_image" src="images/golden.jpg"></li>
	</div>
	<div>
		<img class="slider_image" src="images/small-dog.jpg"></li>
	</div>
	<div>
		<img class="slider_image" src="images/golden-puppy.jpg"></li>
	</div>
	<div>
		<img class="slider_image" src="images/dalmation.jpg"></li>
	</div>
</div>