<!-- <div id="container"> -->
	<div id="slideshow">
		<div class="slide" id="slide_1">
			<img class="slider_image" src="images/golden.jpg"> </li>
		</div>
		<div class="slide" id="slide_2">
			<img class="slider_image" src="images/small-dog.png"></li>
		</div>
		<div class="slide" id="slide_3">
			<img class="slider_image" src="images/golden-puppy.jpg"></li>
		</div>
		<div>
			<img class="slide" id="slide_4"class="slider_image" src="images/dalmation.png"></li>
		</div>
	</div>
<!-- </div> -->