<div id="container">
	<div id="all_services">
		<div id="walks" class="services">
			<h1 class="service_title">Walks</h1>
			<p class="services_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste perspiciatis provident, consectetur unde aperiam magnam minima eos, reprehenderit mollitia necessitatibus reiciendis, culpa magni maxime odit voluptatem repellat repellendus explicabo nulla!</p>
			<p class="services_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, iste minus sit expedita nobis dignissimos impedit vitae similique, ex sapiente, obcaecati omnis suscipit. Nihil, blanditiis nam ipsam doloribus, odit modi?</p>
			<h2 class="service_title">Rates & Options</h2>
			<table style="width:100%">
  				<tr>
					<td class="title">Duration <br><span class="sub-title">Minutes</span></td>
				    <td class="title">Price <br><span class="sub-title">(1 Dog)</span></td>		
				    <td class="title">Price <br><span class="sub-title">Per Additional Dog</span></td>
				</tr>
				<tr>
				    <td>15</td>
				    <td class="price">$10</td>		
				    <td class="price">$5</td>
				</tr>
				<tr>
				    <td>30</td>
				    <td class="price">$20</td>		
				    <td class="price">$5</td>
				</tr>
				   <tr>
				    <td>60</td>
				    <td class="price">$35</td>		
				    <td class="price">$10</td>
				 </tr>
			</table>
		</div>
		<div id="exercise" class="services">
			<h1 class="service_title">Exercise Sessions</h1>
			<p class="services_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste perspiciatis provident, consectetur unde aperiam magnam minima eos, reprehenderit mollitia necessitatibus reiciendis, culpa magni maxime odit voluptatem repellat repellendus explicabo nulla!</p>
			<p class="services_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, iste minus sit expedita nobis dignissimos impedit vitae similique, ex sapiente, obcaecati omnis suscipit. Nihil, blanditiis nam ipsam doloribus, odit modi?</p>
			<h2 class="service_title">Rates & Options</h2>
			<table style="width:100%">
  				<tr>
					<td class="title">Duration <br><span class="sub-title">Minutes</span></td>
				    <td class="title">Price <br><span class="sub-title">(1 Dog)</span></td>		
				    <td class="title">Price <br><span class="sub-title">Per Additional Dog</span></td>
				</tr>
				<tr>
				    <td>15</td>
				    <td class="price">$10</td>		
				    <td class="price">$5</td>
				</tr>
				<tr>
				    <td>30</td>
				    <td class="price">$20</td>		
				    <td class="price">$5</td>
				</tr>
				   <tr>
				    <td>60</td>
				    <td class="price">$35</td>		
				    <td class="price">$10</td>
				 </tr>
			</table>
		</div>
		<div id="dog-sitting" class="services">
			<h1 class="service_title">Dog Sitting</h1>
			<p class="services_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste perspiciatis provident, consectetur unde aperiam magnam minima eos, reprehenderit mollitia necessitatibus reiciendis, culpa magni maxime odit voluptatem repellat repellendus explicabo nulla!</p>
			<p class="services_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, iste minus sit expedita nobis dignissimos impedit vitae similique, ex sapiente, obcaecati omnis suscipit. Nihil, blanditiis nam ipsam doloribus, odit modi?</p>
			<h2 class="service_title">Rates & Options</h2>
			<table style="width:100%">
  				<tr>
					<td class="title">Duration <br><span class="sub-title">Nights</span></td>
				    <td class="title">Price <br><span class="sub-title">(1 Dog)</span></td>		
				    <td class="title">Price <br><span class="sub-title">Per Additional Dog</span></td>
				</tr>
				<tr>
				    <td>1</td>
				    <td class="price">$50</td>		
				    <td class="price">$5</td>
				</tr>
				<tr>
				    <td>2</td>
				    <td class="price">$75</td>		
				    <td class="price">$10</td>
				</tr>
				   <tr>
				    <td>3</td>
				    <td class="price">$100</td>		
				    <td class="price">$15</td>
				 </tr>
			</table>
		</div>
	</div>
</div>