<div id="container">
	<div id="all_services">
		<div id="walks" class="services">
			<h1>Walks</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste perspiciatis provident, consectetur unde aperiam magnam minima eos, reprehenderit mollitia necessitatibus reiciendis, culpa magni maxime odit voluptatem repellat repellendus explicabo nulla!</p>
			<h2>Rates & Options</h2>
			<table style="width:100%">
  				<tr>
					<td>Duration</td>
				    <td>Price (1 Dog)</td>		
				    <td>Price Per Additional Dog</td>
				</tr>
				<tr>
				    <td>15 Minutes</td>
				    <td>$10</td>		
				    <td>$5</td>
				</tr>
				<tr>
				    <td>30 Minutes</td>
				    <td>$20</td>		
				    <td>$5</td>
				</tr>
				   <tr>
				    <td>60 Minutes</td>
				    <td>$35</td>		
				    <td>$10</td>
				 </tr>
			</table>
		</div>
		<div id="exersice" class="services">
			<h1>Exercise Sessions</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste perspiciatis provident, consectetur unde aperiam magnam minima eos, reprehenderit mollitia necessitatibus reiciendis, culpa magni maxime odit voluptatem repellat repellendus explicabo nulla!</p>
			<h2>Rates & Options</h2>
			<table style="width:100%">
  				<tr>
					<td>Duration</td>
				    <td>Price (1 Dog)</td>		
				    <td>Price Per Additional Dog</td>
				</tr>
				<tr>
				    <td>15 Minutes</td>
				    <td>$10</td>		
				    <td>$5</td>
				</tr>
				<tr>
				    <td>30 Minutes</td>
				    <td>$20</td>		
				    <td>$5</td>
				</tr>
				   <tr>
				    <td>60 Minutes</td>
				    <td>$35</td>		
				    <td>$10</td>
				 </tr>
			</table>
		</div>
		<div id="dog-sitting" class="services">
			<h1>Dog Sitting</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste perspiciatis provident, consectetur unde aperiam magnam minima eos, reprehenderit mollitia necessitatibus reiciendis, culpa magni maxime odit voluptatem repellat repellendus explicabo nulla!</p>
			<h2>Rates & Options</h2>
			<table style="width:100%">
  				<tr>
					<td>Duration</td>
				    <td>Price (1 Dog)</td>		
				    <td>Price Per Additional Dog</td>
				</tr>
				<tr>
				    <td>1 Night</td>
				    <td>$50</td>		
				    <td>$5</td>
				</tr>
				<tr>
				    <td>2 Nights</td>
				    <td>$75</td>		
				    <td>$10</td>
				</tr>
				   <tr>
				    <td>3 Nights</td>
				    <td>$100</td>		
				    <td>$15</td>
				 </tr>
			</table>
		</div>
	</div>
</div>