<div class="body-wrap">

	<div class="walker-nametag" class="walker-bio"> Xi Lu</div>

	<div class="walker-bio-box" class="walker-bio">

	</div>


	<div class="walker-nametag" class="walker-bio"> Halid Hajar	</div>


	<div class="walker-bio-box" class="walker-bio"> 
	</div>


	<div class="walker-nametag" class="walker-bio">Mushari Akzedav	</div>

	<div class="walker-bio-box" class="walker-bio"></div>


	<div class="walker-nametag" class="walker-bio">John Martin</div>

	<div class="walker-bio-box" class="walker-bio">	
	</div>





</div>