/*layout.erb styling*/

body {
	background-color: #ffffff;
}

/*navbar feature*/

nav {
	color: #ffffff;
	background-color: #0f445e;
	height: 15%;
	position: fixed;
	width: 100%;
	z-index: 1;
	box-shadow: 0 5px 0px rgba(0,0,0,0.4); 
}
#nav_menu {
	list-style-type: none;
	padding-left: 0;
	float: right;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	margin: 70px 20px 0px 0px;
}
#menu_pages {
	/*display: inline-block;*/
	margin-left: 15px;
	background-color: #4c767e;
	padding: 4px;
}
#name {
	width: 40%;
	margin-bottom: 1%;
}
#logo {
	width: 15%;
	margin-bottom: -8%;
	margin-left: 8%;
	margin-bottom: 2px;
}
a:visited {
	color: #ffffff;
}
a:hover {
	text-decoration: none;
}

footer {
	clear: both;
	background-color: rgba(114, 114, 114, 0.5);
	height: 100px;
	width: 100%;
	display: inline-block;
}

/*Created to space out the body from behind the nav bar*/

#upper-spacer{
	width:100%;
	height: 200px;

	/*position: absolute;*/

}

.body-wrap {
	vertical-align: 200px;
	width: 800px;
	margin: 0 auto;
}

/*.walker-bio {
	width: 500px;
}*/
/*hide while figuring out formatting of toggle for walkers page*/

.walker-pic{
	border-radius: 100%;
	width: 25px;
	margin-right: 10px;
}

.walker-nametag:img{
	border-radius: 100%;
	width: 25px;
	margin-right: 10px;
}

.bio-pic {
	width: 25%;
	border: 10px solid #ffffff;
	box-shadow: 10px 10px 5px #888888;
	margin: 10px;
	float: left;
}

.walker-nametag {
	clear: both;
	background: linear-gradient(#0f445e, #0f445e, #0f445e, #0f445e, #0f445e, #0f445e, #4c767e);
	padding: 3px;
	margin: 0 auto;
	border-radius: .9;
	font-size: 25px;
	font-family: cursive;
	font-weight: 2;
	color: #727272;
	text-align: center;
}

.walker-nametag:hover {
	opacity: .8;
}
.walker-bio-box {
	box-shadow: 3px, 3px, 3px, gray;
	/*border-style: ridge;*/
	border-color: #000000;
	/*height: 300px;*/
	background-color: rgba(114, 114, 114, 0.5);
	height: 100%;
}
.walker-name {
	font-size: 2.5em;
	font-weight: bold;
	color: #4c767e;
	text-align: center;
	/*border: 2px solid black;*/
}
.about-walker {
	float: left;
	/*border: 2px solid blue;*/
	width: 65%;
	margin-left: 20px;
	padding: 10px;
}
.answer {
	font-size: 1.25em;
}
.topic{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.25em;
}

/*slideshow styling on home.erb*/

.slider_image {
	width: 100%;
	height: 100%;
}
#slideshow { 
    position: relative; 
    width: 100%; 
    height: 100%; 
	z-index: auto;
}
#slideshow > div { 
	margin-top: 100px; 
    position: absolute;
    display: inline-block;
}

/*services.erb */

#container {
	clear: both;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	margin-top: 100px;
	display: inline-block;
}
.services {
	width: 30%;
	float: left;
	height: 100%;
	margin: 20px 10px 20px 10px;
	text-align: center;
	padding: 0px 20px 20px 20px;
	box-shadow: 10px 10px 5px #888888;
}
#all_services {
	width: 1200px;
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 5%;
}
#walks {
	background-color: #0f445e;
	}

#exercise {
	background-color: #4c767e;
}
#dog-sitting {
	background-color: #727272;
}
.service_title {
	color: #ffffff;
	font-family: 'Pathway Gothic One', sans-serif;
	text-transform: uppercase;
}

/*hamburger dropdown menu */

.menu-btn div {
	position: relative;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
	float: right;
	width: 10%;
}

.menu-btn span {
	display: block;
	width: 25px;
	height: 3px;
	margin: 4px 0;
	background: #ffffff;
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important; 
}
.mobile-nav {
	float: right;
	margin: 5%;
	opacity: 0.9;
}



