body {
	background-color: #ffffff;
}
nav {
	color: #ffffff;
	background-color: #0f445e;
	height: 100px;
	position: fixed;
	width: 100%;
	z-index: 1;
	box-shadow: 0 5px 0px rgba(0,0,0,0.4); 
}
#nav_menu {
	list-style-type: none;
	padding-left: 0;
	float: right;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	margin: 70px 20px 0px 0px;
}
#menu_pages {
	display: inline-block;
	margin-left: 15px;
}
#name {
	height: 60px;
	margin: 40px 0px 0px 20px;
}
#logo {
	width: 200px;
	margin-bottom: -8%;
	margin-left: 8%;
}
a:visited {
	color: #ffffff;
}
a:hover {
	text-decoration: none;
}
footer {
	background-color: rgba(114, 114, 114, 0.5);
	height: 100px;
	width: 100%;
	/*position: absolute;*/
}
.body-wrap {
	width: 800px;
	margin: 0 auto;
}

.walker-bio {
	width: 500px;
}
.walker-pic {
	border-radius: 20px;
	margin-left: 6px;
}
.walker-nametag {
	background: #0f445e;
	padding: 3px;
	margin: 0 auto;
	border-radius: .9;
	font-size: 25px;
	font-family: cursive;
	font-weight: 2;
	color: #727272;
	text-align: center;
}

.walker-nametag:hover {
	opacity: .8;
}
.walker-bio-box {
	box-shadow: 3px, 3px, 3px, gray;
	/*border-style: ridge;*/
	border-color: #000000;
	height: 300px;
}
.slider_image {
	width: 100%;
}
#slideshow { 
    position: relative; 
    width: 100%; 
    height: 240px; 
   /* padding: 10px; */
    
	z-index: auto;
}
#slideshow > div { 
	margin-top: 100px; 
    position: absolute; 
}

.clear {
	clear: both;
}
